body {
    background-color: #121212;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.esquerda, .direita {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.centro {
    flex: 1;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.titulo {
    color: #ccff00;
    text-shadow: 0 0 5px #ccff00, 0 0 15px #ccff00, 0 0 30px #ccff00;
}

.triangulo {
    width: 350px;
    height: 290px;
    margin: 0 auto 20px auto; 
   background-color: #e5c100;
   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    
}

#campo-busca {
    width: 200px;
    padding: 5px;
}

#texto-notas {
    width: 160px;
    height: 80px;
}

.caixa-cronometro,
.caixa-calendrio,
.caixa-jogo,
.caixa-notas {
    background-color: #222;
    border: 1px solid #ccff00;
    padding: 10px;
    width: 180;
}
.caixa-cronometro button,
.caixa-jogo button,
.caixa-notas button {
    background-color: #ccff00;
    color: black;
    border: none;
    padding: 5px;
    margin: 2px;;
    cursor: pointer;
}

#tela-do-jogo {
    width: 180px;
    height: 100px;
    background-color: black;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    display: none;
}

#boneco {
    width: 15px;
    height: 15px;
    background-color: #ccff00;
    position: absolute;
    bottom: 0;
    left: 10px;
    box-shadow: 0 0 10px #ccff00;
}

.chao {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:3px;
    background-color: #ccff00;
}

.obstacle {
    background-color: #ff3333;
    position: absolute;
    bottom: 3px;
    width: 15px;
    height: 20px;
}

#div-links {
    display:none;
}

#pontos {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

.arrastavel h3 {
    cursor: grab;
    user-select: none;
}

.arrastavel h3:active {
    cursor: grabbing;
}